.Renviron
.Rproj.user/
.Rhistory
abstracts.rds
pilot/tools.xlsx
data/scopus_wos_merged.csv
krippendorff.r
PRISMA_2020_checklist.pdf
annotinder
annotinder_jobs
icr-2/ICR-round-2.html
scopus_wos_merged.csv
data/scopus.csv
data/wos.csv
ollama-annotation/
data/papers
meeting_notes
experiments
