.Renviron
.Rproj.user/
.Rhistory
abstracts.rds
pilot/tools.xlsx
data/scopus_wos_merged.csv
krippendorff.r
PRISMA_2020_checklist.pdf
annotinder
annotinder_jobs
icr-2/ICR-round-2.html
scopus_wos_merged.csv
coding-abstracts/*.csv
coding-abstracts/*.RDATA
prisma/*.png
data/scopus.csv
data/wos.csv
ollama-annotation/
data/papers
meeting_notes
experiments
.httr-oauth
paper-annotation/wg2_full_paper_annotation_files/
data/abstracts_coded.csv
data/scopus_wos_merged_clean.csv
paper-annotation/rdrop.r
rdrop-token.rds
paper-annotation/2._annotation-check_pilot_files/
paper-annotation/4._annotation-check_files/
paper-annotation-gllm/*_files/
paper-annotation-gllm/Screenshot_20250103_105414.png
paper-annotation-gllm/1._pilot-results_jbg_test.xlsx
paper-annotation-gllm/1._pilot-results_jbg.xlsx
paper-annotation-gllm/gpt-was-right.png
paper-annotation-gllm/rate.png
paper-annotation-gllm/uploaded.png
paper-annotation-gllm/results/*
paper-annotation-gllm/results-pilot/*
paper-annotation-gllm/1._pilot-results.xlsx
paper-annotation-gllm/results_mdl/
rname.r
2._gllm-annotation-results_wg3.csv
paper-annotation-gllm/0._missing_dois.txt
